#Task {
max-width: 100%;
margin: 0 auto;
padding: 2rem;
background-image: url('https://img.freepik.com/free-photo/gradient-blue-abstract-background-smooth-dark-blue-with-black-vignette-studio_1258-68081.jpg?w=996&t=st=1690965520~exp=1690966120~hmac=caf5ff32f4fa8955dc3892e371f6ab2179921c63f7b6d7477d0663585e84c2fd');
background-repeat: no-repeat;
background-size: cover;
height: 100vh;

}


